<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="826" border="1">
    <tr>
      <td width="816"><a href="/view_product_administrative">PRODUCT STOCK UPDATION</a></td>
    </tr>
    <tr>
      <td><a href="/view_worker_administrative">ADD AND MANAGE WORKER</a></td>
    </tr>
    <tr>
      <td><a href="/view_purchase_request">VIEW PURCHASE REQUEST AND UPDATE STATUS</a></td>
    </tr>
    <tr>
      <td><a href="view_job_request">JOB ORDER REQUEST AND UPDATE STATUS</a></td>
    </tr>
    <tr>
      <td><a href="/view_feedback_administrative">VIEW FEEDBACK</a></td>
    </tr>
    <tr>
      <td><a href="/view_complaint_administrative">VIEW COMPLAINT AND REPLAY</a></td>
    </tr>
  </table>
</form>
</body>
</html>
