<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="638" border="1">
    <tr>
      <td width="42">SI.NO</td>
      <td width="59">DEALER</td>
      <td width="53">WORK </td>
      <td width="102">DESCRIPTION</td>
      <td width="86">DATE</td>
        <td width="86">AMUNT</td>
      <td width="256">STATUS</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.DEALEARS.name }}</td>
      <td>&nbsp;{{ i.work }}</td>
      <td>&nbsp;{{ i.description }}</td>
      <td>&nbsp;{{ i.date }}</td>
        <td> {{ i.amount }}</td>
	  <td><a href="/view_job_allocation_administrative">VIEW ALLOCATION</a></td>
	  
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
